/* src/components/common/ConfirmationModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure a high z-index */
}

.modal {
  background-color: white !important; /* Ensure white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1001; /* Ensure higher z-index than overlay */
  max-width: 400px;
  width: 100%; /* Ensure modal width doesn't exceed viewport */
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  margin: 0 10px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
