/* Login.css */

.login {
    text-align: center;
  }
  
  .cool-text {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 60px;
    color: #4CAF50;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
  }
  
  .cool-text::after {
    content: 'Maintenance. Asset. Tracking. Equipment. Registry.';
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .center {
    display: block;
    margin: auto;
  }
  